
@font-face {
  font-family: 'Quantico';
  src: local('Quantico'), url(./assets/fonts/Quantico.ttf) format('ttf');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  font-family: 'Quantico';
}